# 0 - Load the modules and create Case Class

In [1]:
import org.apache.spark.sql.SparkSession

import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
import spark.sqlContext.implicits._

Intitializing Scala interpreter ...

Spark Web UI available at http://0d06e632b0ca:4040
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1621251557891)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
import spark.sqlContext.implicits._

In [2]:
/* ---------------------------------------------------  
    Create Class flight and weather for later use
-------------- -------------------------------------- */

case class flight(
                    ORIGIN : String,
                    DEST : String,
                    Tad:String,
                    Tsd:String,
                    Taa:String,
                    Tsa:String,
                    Th:Boolean)

case class weather(
                    t0: String,
                     A: String, 
                     H: Float,
                     Wd: Float,
                     Ws: Float,
                     P: Float,
                     T6: Float,
                     S: String, 
                     D: String, 
                     V: Float)

defined class flight
defined class weather

# 1 - Create a Spark session

In [3]:
/* ------------------------------------------  
    Create SparkSession
-------------- ---------------------------- */

import org.apache.spark.sql.SparkSession
val spark = SparkSession
.builder
.appName("flight")
.config("spark.master", "local")
.getOrCreate()
import spark.implicits._

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@569230f6
import spark.implicits._

# 2 - Create Flight dataframe

In [4]:
/* ---------------------------------------------------  
            Create a FT dataframe
    with flights data and flight case class
-------------- -------------------------------------- */

val workingDir = "data/"
val FT = spark.read.format("csv")
.option("header","true")
.option("inferSchema","true")
.load(workingDir+"flight_1M.csv")
.as[flight]
FT.show(5)

+------+----+-------------------+-------------------+-------------------+-------------------+-----+
|ORIGIN|DEST|                Tad|                Tsd|                Taa|                Tsa|   Th|
+------+----+-------------------+-------------------+-------------------+-------------------+-----+
|   PDX| IAH|2012-01-01 05:59:00|2012-01-01 06:00:00|2012-01-01 11:42:00|2012-01-01 12:02:00|false|
|   AUS| LAX|2012-01-01 05:59:00|2012-01-01 06:03:00|2012-01-01 07:24:00|2012-01-01 07:24:00|false|
|   TPA| PHL|2012-01-01 06:05:00|2012-01-01 06:10:00|2012-01-01 08:23:00|2012-01-01 08:35:00|false|
|   PDX| DEN|2012-01-01 06:05:00|2012-01-01 06:15:00|2012-01-01 09:20:00|2012-01-01 09:40:00|false|
|   RNO| PHX|2012-01-01 06:08:00|2012-01-01 06:15:00|2012-01-01 08:44:00|2012-01-01 08:58:00|false|
+------+----+-------------------+-------------------+-------------------+-------------------+-----+
only showing top 5 rows

workingDir: String = data/
FT: org.apache.spark.sql.Dataset[flight] = [ORIGIN: string, DEST: string ... 5 more fields]

In [5]:
/*import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
import spark.sqlContext.implicits._*/

/* ---------------------------------------------------  
    add hourly time slots starting 12 hours before the
    scheduled departure/arrival time by converting 
    scheduled departure date and schedule arrival date
    to unix timestamp for Flight dataframe. 
    
    The conversion to unix timestamp is also done for
    the scheduled departure/arrival time
-------------- -------------------------------------- */

val data_f = FT.select(
    $"ORIGIN",
    $"DEST",
    //$"Tad",
    unix_timestamp($"Tad","yyyy-MM-dd HH:mm:ss").as("Tad_unix"),
    (unix_timestamp($"Tad","yyyy-MM-dd HH:mm:ss")-12*3600).as("Tad_unix_12"),
    //$"Tsd",
    unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss").as("Tsd_unix"),
    
    // partie ajoutée FP 30 Juin ///////////////////////////////////////////////////////////////////////
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-1*3600).as("Tsd_unix_1"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-2*3600).as("Tsd_unix_2"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-3*3600).as("Tsd_unix_3"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-4*3600).as("Tsd_unix_4"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-5*3600).as("Tsd_unix_5"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-6*3600).as("Tsd_unix_6"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-7*3600).as("Tsd_unix_7"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-8*3600).as("Tsd_unix_8"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-9*3600).as("Tsd_unix_9"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-10*3600).as("Tsd_unix_10"),
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-11*3600).as("Tsd_unix_11"),
    // fin ajout FP 30 Juin  ////////////////////////////////////////////////////////////////////////////
    
    (unix_timestamp($"Tsd","yyyy-MM-dd HH:mm:ss")-12*3600).as("Tsd_unix_12"),
    //$"Taa",
    unix_timestamp($"Taa","yyyy-MM-dd HH:mm:ss").as("Taa_unix"),
    (unix_timestamp($"Taa","yyyy-MM-dd HH:mm:ss")-12*3600).as("Taa_unix_12"),
    //$"Tsa",
    unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss").as("Tsa_unix"),
    
    // partie ajoutée FP 30 Juin ///////////////////////////////////////////////////////////////////////
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-1*3600).as("Tsa_unix_1"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-2*3600).as("Tsa_unix_2"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-3*3600).as("Tsa_unix_3"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-4*3600).as("Tsa_unix_4"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-5*3600).as("Tsa_unix_5"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-6*3600).as("Tsa_unix_6"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-7*3600).as("Tsa_unix_7"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-8*3600).as("Tsa_unix_8"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-9*3600).as("Tsa_unix_9"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-10*3600).as("Tsa_unix_10"),
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-11*3600).as("Tsa_unix_11"),
    // fin ajout FP 30 Juin  ////////////////////////////////////////////////////////////////////////////
    
    (unix_timestamp($"Tsa","yyyy-MM-dd HH:mm:ss")-12*3600).as("Tsa_unix_12"),    
   //concat($"ORIGIN",$"Tad_unix").as("originK"),
    //concat($"DEST",$"Tsa_unix").as("destK"),
    $"Th")


data_f.printSchema()

root
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- Tad_unix: long (nullable = true)
 |-- Tad_unix_12: long (nullable = true)
 |-- Tsd_unix: long (nullable = true)
 |-- Tsd_unix_1: long (nullable = true)
 |-- Tsd_unix_2: long (nullable = true)
 |-- Tsd_unix_3: long (nullable = true)
 |-- Tsd_unix_4: long (nullable = true)
 |-- Tsd_unix_5: long (nullable = true)
 |-- Tsd_unix_6: long (nullable = true)
 |-- Tsd_unix_7: long (nullable = true)
 |-- Tsd_unix_8: long (nullable = true)
 |-- Tsd_unix_9: long (nullable = true)
 |-- Tsd_unix_10: long (nullable = true)
 |-- Tsd_unix_11: long (nullable = true)
 |-- Tsd_unix_12: long (nullable = true)
 |-- Taa_unix: long (nullable = true)
 |-- Taa_unix_12: long (nullable = true)
 |-- Tsa_unix: long (nullable = true)
 |-- Tsa_unix_1: long (nullable = true)
 |-- Tsa_unix_2: long (nullable = true)
 |-- Tsa_unix_3: long (nullable = true)
 |-- Tsa_unix_4: long (nullable = true)
 |-- Tsa_unix_5: long (nullable = true)
 |-- Tsa_unix_6: long (nullable = true)
 |-- Tsa_unix_7: long (nullable = true)
 |-- Tsa_unix_8: long (nullable = true)
 |-- Tsa_unix_9: long (nullable = true)
 |-- Tsa_unix_10: long (nullable = true)
 |-- Tsa_unix_11: long (nullable = true)
 |-- Tsa_unix_12: long (nullable = true)
 |-- Th: boolean (nullable = true)

data_f: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 31 more fields]

In [6]:
/* ---------------------------------------------------  
    Add origin key and arrival key columns
    to Flight data frame and select the final columns
-------------- -------------------------------------- */

val data_flights = data_f.select(
    $"ORIGIN",
    $"DEST",
    concat($"ORIGIN",$"Tad_unix").as("originK"),
    concat($"DEST",$"Tsa_unix").as("destK"),
    //$"Tad",
    $"Tad_unix",
    $"Tad_unix_12",
    //$"Tsd",
    $"Tsd_unix",
    
    // partie ajoutée FP 30 Juin ///////////////////////////////////////////////////////////////////////
    $"Tsd_unix_1",
    $"Tsd_unix_2",
    $"Tsd_unix_3",
    $"Tsd_unix_4",
    $"Tsd_unix_5",
    $"Tsd_unix_6",
    $"Tsd_unix_7",
    $"Tsd_unix_8",
    $"Tsd_unix_9",
    $"Tsd_unix_10",
    $"Tsd_unix_11",
    // partie ajoutée FP 30 Juin ///////////////////////////////////////////////////////////////////////
    
    $"Tsd_unix_12",
    //$"Taa",
    $"Taa_unix",
    $"Taa_unix_12",
    //$"Tsa",
    $"Tsa_unix",
    
    // partie ajoutée FP 30 Juin ///////////////////////////////////////////////////////////////////////
    $"Tsa_unix_1",
    $"Tsa_unix_2",
    $"Tsa_unix_3",
    $"Tsa_unix_4",
    $"Tsa_unix_5",
    $"Tsa_unix_6",
    $"Tsa_unix_7",
    $"Tsa_unix_8",
    $"Tsa_unix_9",
    $"Tsa_unix_10",
    $"Tsa_unix_11",
    // partie ajoutée FP 30 Juin //////////////////////////////////////////////////////////////////////
    
    $"Tsa_unix_12",

    $"Th")
//data_flights.show(false)

data_flights: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 33 more fields]

# 3 - Create Weather dataframe

In [7]:
/* ---------------------------------------------------  
            Create a OT dataframe
    with weather data and weather case class
-------------- -------------------------------------- */
val OT = spark.read.format("csv")
.option("header","true")
.option("inferSchema","true")
.option("timestampFormat", "yyyy-MM-dd'T'HH:mm:ss")
.load(workingDir+"weather_1M.csv")
.withColumn("H",$"H".cast("float"))
.withColumn("Wd",$"Wd".cast("float"))
.withColumn("Ws",$"Ws".cast("float"))
.withColumn("P",$"P".cast("float"))
.withColumn("T6",$"T6".cast("float"))
.withColumn("V",$"V".cast("float"))
.as[weather]
OT.show(5)

+-------------------+---+----+-----+----+-----+----+---+---+----+
|                 t0|  A|   H|   Wd|  Ws|    P|  T6|  S|  D|   V|
+-------------------+---+----+-----+----+-----+----+---+---+----+
|2012-01-01 00:53:00|DEN|65.0|160.0|14.0| 24.8|11.0|CLR|   |10.0|
|2012-01-01 01:53:00|DEN|57.0|150.0|15.0|24.79|10.0|CLR|   |10.0|
|2012-01-01 02:53:00|DEN|53.0|150.0|14.0|24.81| 9.0|CLR|   |10.0|
|2012-01-01 03:53:00|DEN|50.0|160.0|13.0|24.81| 8.0|CLR|   |10.0|
|2012-01-01 04:53:00|DEN|52.0| null| 3.0|24.84| 8.0|CLR|   |10.0|
+-------------------+---+----+-----+----+-----+----+---+---+----+
only showing top 5 rows

OT: org.apache.spark.sql.Dataset[weather] = [t0: string, A: string ... 8 more fields]

In [8]:
//import spark.sqlContext.implicits._
//Convert timestamp to unix timestamp

/* ---------------------------------------------------  
    Convert timestamp to unix timestamp for Weather
    dataframe
-------------- -------------------------------------- */
val data_w = OT.select(
    $"t0",
    unix_timestamp($"t0","yyyy-MM-dd HH:mm:ss").as("t0_unix"),
    //(unix_timestamp($"t0","yyyy-MM-dd HH:mm:ss")-12*3600).as("t0_unix_12"),
    $"A",
    $"H",
    $"Wd",
    $"Ws",
    $"P",
    $"T6",
    $"S",
    $"D",
    $"V")
data_w.printSchema()
//data_weather.show(false)

root
 |-- t0: string (nullable = true)
 |-- t0_unix: long (nullable = true)
 |-- A: string (nullable = true)
 |-- H: float (nullable = true)
 |-- Wd: float (nullable = true)
 |-- Ws: float (nullable = true)
 |-- P: float (nullable = true)
 |-- T6: float (nullable = true)
 |-- S: string (nullable = true)
 |-- D: string (nullable = true)
 |-- V: float (nullable = true)

data_w: org.apache.spark.sql.DataFrame = [t0: string, t0_unix: bigint ... 9 more fields]

In [9]:
/* ---------------------------------------------------  
    Create a new data frame containing 
    a weather colummn (array containing time and
    weather condition) for Weather dataframe
-------------- -------------------------------------- */

val data_weather = data_w.select(
    $"A",
    $"t0",
    $"t0_unix",
    array($"t0_unix",$"H",$"Wd",$"Ws",$"P",$"T6",$"S",$"D",$"V").as("weather")
)
data_weather.printSchema()

root
 |-- A: string (nullable = true)
 |-- t0: string (nullable = true)
 |-- t0_unix: long (nullable = true)
 |-- weather: array (nullable = false)
 |    |-- element: string (containsNull = true)

data_weather: org.apache.spark.sql.DataFrame = [A: string, t0: string ... 2 more fields]

# 4 - Merge Flight dataframe with Weather dataframe

## 4.1 - Merge Flight and Weather based on departure airport

In [10]:
// Partie ORIGIN - Departure
// les 12 jointures par créneau de 60 minutes et recherche de l'observation la plus proche des -60'
// slot1_O étant entre Tsd-60' et Tsd, slot2_O entre Tsd-120' et Tsd-60', etc...

/* -----------------------------------------------------------
    Merge Flight data with Weather data for each time slot
    based on flight origin key (originK)
    
    - step 1 : join flight and weather based on flight origin key
               to retrieve all avaible weather data for a time slot
               
    - step 2 : group the retrieved weather data by key,
               sort them and keep only the weather data
               closest to the begining of the time slot              
-------------- -----------------------------------------------*/

var Flights_oA = data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_1")<= data_weather("t0_unix")) , "inner")
val Flights_o1 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),asc = true).getItem(0).alias("slot1_D")).withColumnRenamed("originK","originK1")

Flights_oA = data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_2")<= data_weather("t0_unix")) && (data_flights("Tsd_unix_1")>= data_weather("t0_unix")) , "inner")
val Flights_o2 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot2_D")).withColumnRenamed("originK","originK2")

Flights_oA = data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_3")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_2")>= data_weather("t0_unix")) , "inner")
val Flights_o3 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot3_D")).withColumnRenamed("originK","originK3")

Flights_oA = data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_4")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_3")>= data_weather("t0_unix")), "inner")
val Flights_o4 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot4_D")).withColumnRenamed("originK","originK4")

Flights_oA = data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_5")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_4")>= data_weather("t0_unix")), "inner")
val Flights_o5 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot5_D")).withColumnRenamed("originK","originK5")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_6")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_5")>= data_weather("t0_unix")), "inner")
val Flights_o6 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot6_D")).withColumnRenamed("originK","originK6")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_7")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_6")>= data_weather("t0_unix")), "inner")
val Flights_o7 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot7_D")).withColumnRenamed("originK","originK7")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_8")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_7")>= data_weather("t0_unix")), "inner")
val Flights_o8 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot8_D")).withColumnRenamed("originK","originK8")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_9")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_8")>= data_weather("t0_unix")), "inner")
val Flights_o9 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot9_D")).withColumnRenamed("originK","originK9")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_10")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_9")>= data_weather("t0_unix")), "inner")
val Flights_o10 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot10_D")).withColumnRenamed("originK","originK10")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_11")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_10")>= data_weather("t0_unix")), "inner")
val Flights_o11 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot11_D")).withColumnRenamed("originK","originK11")

Flights_oA= data_flights.join(data_weather, (data_flights("ORIGIN")===data_weather("A")) && (data_flights("Tsd_unix")>= data_weather("t0_unix")) &&(data_flights("Tsd_unix_12")<= data_weather("t0_unix")) &&(data_flights("Tsd_unix_11")>= data_weather("t0_unix")), "inner")
val Flights_o12 =Flights_oA.groupBy("originK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot12_D")).withColumnRenamed("originK","originK12")

Flights_oA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_o1: org.apache.spark.sql.DataFrame = [originK1: string, slot1_D: array<string>]
Flights_oA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_o2: org.apache.spark.sql.DataFrame = [originK2: string, slot2_D: array<string>]
Flights_oA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_o3: org.apache.spark.sql.DataFrame = [originK3: string, slot3_D: array<string>]
Flights_oA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_o4: org.apache.spark.sql.DataFrame = [originK4: string, slot4_D: array<string>]
Flights_oA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DES...

## 4.2 - Merge Flight and Weather based on arrival airport

In [11]:
// Partie DEST - Arrival
// les 12 jointures par créneau de 60 minutes et recherche de l'observation la plus proche des -60'
// slot1_D étant entre Tsa-60' et Tsa, slot2_D entre Tsa-120' et Tad-60', etc...

/* -----------------------------------------------------------
    Merge Flight data with Weather data for each time slot
    based on flight arrival key (destK)
    
    - step 1 : join flight and weather based on flight origin key
               to retrieve all avaible weather data for a time slot
               
    - step 2 : group the retrieved weather data by key,
               sort them and keep only the weather data
               closest to the begining of the time slot              
-------------- -----------------------------------------------*/

var Flights_dA = data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_1")<= data_weather("t0_unix")) , "inner")
val Flights_d1 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),asc = true).getItem(0).alias("slot1_A")).withColumnRenamed("destK","destK1")

Flights_dA = data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_2")<= data_weather("t0_unix")) && (data_flights("Tsa_unix_1")>= data_weather("t0_unix")) , "inner")
val Flights_d2 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot2_A")).withColumnRenamed("destK","destK2")

Flights_dA = data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_3")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_2")>= data_weather("t0_unix")) , "inner")
val Flights_d3 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot3_A")).withColumnRenamed("destK","destK3")

Flights_dA = data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_4")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_3")>= data_weather("t0_unix")), "inner")
val Flights_d4 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot4_A")).withColumnRenamed("destK","destK4")

Flights_dA = data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_5")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_4")>= data_weather("t0_unix")), "inner")
val Flights_d5 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot5_A")).withColumnRenamed("destK","destK5")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_6")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_5")>= data_weather("t0_unix")), "inner")
val Flights_d6 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot6_A")).withColumnRenamed("destK","destK6")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_7")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_6")>= data_weather("t0_unix")), "inner")
val Flights_d7 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot7_A")).withColumnRenamed("destK","destK7")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_8")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_7")>= data_weather("t0_unix")), "inner")
val Flights_d8 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot8_A")).withColumnRenamed("destK","destK8")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_9")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_8")>= data_weather("t0_unix")), "inner")
val Flights_d9 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot9_A")).withColumnRenamed("destK","destK9")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_10")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_9")>= data_weather("t0_unix")), "inner")
val Flights_d10 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot10_A")).withColumnRenamed("destK","destK10")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_11")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_10")>= data_weather("t0_unix")), "inner")
val Flights_d11 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot11_A")).withColumnRenamed("destK","destK11")

Flights_dA= data_flights.join(data_weather, (data_flights("DEST")===data_weather("A")) && (data_flights("Tsa_unix")>= data_weather("t0_unix")) &&(data_flights("Tsa_unix_12")<= data_weather("t0_unix")) &&(data_flights("Tsa_unix_11")>= data_weather("t0_unix")), "inner")
val Flights_d12 =Flights_dA.groupBy("destK").agg(sort_array(collect_list("weather"),true).getItem(0).alias("slot12_A")).withColumnRenamed("destK","destK12")

Flights_dA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_d1: org.apache.spark.sql.DataFrame = [destK1: string, slot1_A: array<string>]
Flights_dA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_d2: org.apache.spark.sql.DataFrame = [destK2: string, slot2_A: array<string>]
Flights_dA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_d3: org.apache.spark.sql.DataFrame = [destK3: string, slot3_A: array<string>]
Flights_dA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 37 more fields]
Flights_d4: org.apache.spark.sql.DataFrame = [destK4: string, slot4_A: array<string>]
Flights_dA: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: strin...

## 4.3 - Final join (sequencial joins of the previous 24 joint) to get one dataframe

In [12]:
/* -----------------------------------------------------------
        Proceed the 24 joins to get the final data frame
        containing flights and weather data for each 
        flight origin, destination and time slot
-------------- -----------------------------------------------*/

val data_flights_part1 = data_flights

                         // les 12 jointures finales ORIGIN - Departure
                        .join(Flights_o1,data_flights("originK")===Flights_o1("originK1"),"left_outer")
                        .join(Flights_o2,data_flights("originK")===Flights_o2("originK2"),"left_outer")
                        .join(Flights_o3,data_flights("originK")===Flights_o3("originK3"),"left_outer")
                        .join(Flights_o4,data_flights("originK")===Flights_o4("originK4"),"left_outer")
                        .join(Flights_o5,data_flights("originK")===Flights_o5("originK5"),"left_outer")
                        .join(Flights_o6,data_flights("originK")===Flights_o6("originK6"),"left_outer")
                        .join(Flights_o7,data_flights("originK")===Flights_o7("originK7"),"left_outer")
                        .join(Flights_o8,data_flights("originK")===Flights_o8("originK8"),"left_outer")
                        .join(Flights_o9,data_flights("originK")===Flights_o9("originK9"),"left_outer")
                        .join(Flights_o10,data_flights("originK")===Flights_o10("originK10"),"left_outer")
                        .join(Flights_o11,data_flights("originK")===Flights_o11("originK11"),"left_outer")
                        .join(Flights_o12,data_flights("originK")===Flights_o12("originK12"),"left_outer")

                         // les 12 jointures finales DESTINATION
                        .join(Flights_d1,data_flights("destK")===Flights_d1("destK1"),"left_outer")
                        .join(Flights_d2,data_flights("destK")===Flights_d2("destK2"),"left_outer")
                        .join(Flights_d3,data_flights("destK")===Flights_d3("destK3"),"left_outer")
                        .join(Flights_d4,data_flights("destK")===Flights_d4("destK4"),"left_outer")
                        .join(Flights_d5,data_flights("destK")===Flights_d5("destK5"),"left_outer")
                        .join(Flights_d6,data_flights("destK")===Flights_d6("destK6"),"left_outer")
                        .join(Flights_d7,data_flights("destK")===Flights_d7("destK7"),"left_outer")
                        .join(Flights_d8,data_flights("destK")===Flights_d8("destK8"),"left_outer")
                        .join(Flights_d9,data_flights("destK")===Flights_d9("destK9"),"left_outer")
                        .join(Flights_d10,data_flights("destK")===Flights_d10("destK10"),"left_outer")
                        .join(Flights_d11,data_flights("destK")===Flights_d11("destK11"),"left_outer")
                        .join(Flights_d12,data_flights("destK")===Flights_d12("destK12"),"left_outer")

                         // suppression des champs intermédiaires désormais inutiles
                        //.drop("originK1","originK2","originK3","originK4","originK5","originK6","originK7","originK8","originK9","originK10","originK11","originK12")
                        .drop("destK1","destK2","destK3","destK4","destK5","destK6","destK7","destK8","destK9","destK10","destK11","destK12")

val data_final = data_flights_part1.cache()

// Durée d'environ 4'30 minutes sur Mac sans optimisation coalesce, persist etc...

data_final.printSchema()

root
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- originK: string (nullable = true)
 |-- destK: string (nullable = true)
 |-- Tad_unix: long (nullable = true)
 |-- Tad_unix_12: long (nullable = true)
 |-- Tsd_unix: long (nullable = true)
 |-- Tsd_unix_1: long (nullable = true)
 |-- Tsd_unix_2: long (nullable = true)
 |-- Tsd_unix_3: long (nullable = true)
 |-- Tsd_unix_4: long (nullable = true)
 |-- Tsd_unix_5: long (nullable = true)
 |-- Tsd_unix_6: long (nullable = true)
 |-- Tsd_unix_7: long (nullable = true)
 |-- Tsd_unix_8: long (nullable = true)
 |-- Tsd_unix_9: long (nullable = true)
 |-- Tsd_unix_10: long (nullable = true)
 |-- Tsd_unix_11: long (nullable = true)
 |-- Tsd_unix_12: long (nullable = true)
 |-- Taa_unix: long (nullable = true)
 |-- Taa_unix_12: long (nullable = true)
 |-- Tsa_unix: long (nullable = true)
 |-- Tsa_unix_1: long (nullable = true)
 |-- Tsa_unix_2: long (nullable = true)
 |-- Tsa_unix_3: long (nullable = true)
 |-- Tsa_unix_4: long (nullable = true)
 |-- Tsa_unix_5: long (nullable = true)
 |-- Tsa_unix_6: long (nullable = true)
 |-- Tsa_unix_7: long (nullable = true)
 |-- Tsa_unix_8: long (nullable = true)
 |-- Tsa_unix_9: long (nullable = true)
 |-- Tsa_unix_10: long (nullable = true)
 |-- Tsa_unix_11: long (nullable = true)
 |-- Tsa_unix_12: long (nullable = true)
 |-- Th: boolean (nullable = true)
 |-- originK1: string (nullable = true)
 |-- slot1_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK2: string (nullable = true)
 |-- slot2_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK3: string (nullable = true)
 |-- slot3_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK4: string (nullable = true)
 |-- slot4_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK5: string (nullable = true)
 |-- slot5_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK6: string (nullable = true)
 |-- slot6_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK7: string (nullable = true)
 |-- slot7_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK8: string (nullable = true)
 |-- slot8_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK9: string (nullable = true)
 |-- slot9_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK10: string (nullable = true)
 |-- slot10_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK11: string (nullable = true)
 |-- slot11_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK12: string (nullable = true)
 |-- slot12_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot1_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot2_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot3_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot4_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot5_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot6_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot7_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot8_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot9_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot10_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot11_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot12_A: array (nullable = true)
 |    |-- element: string (containsNull = true)

data_flights_part1: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 69 more fields]
data_final: data_flights_part1.type = [ORIGIN: string, DEST: string ... 69 more fields]

## 4.4 - Save the final data as a parquet file to be used in ML pipeline

In [14]:
/* -----------------------------------------------------------
            Save the final data as a parquet file
            in a new folder called data_parquet
-------------- -----------------------------------------------*/
! mkdir data_parquet
data_final.coalesce(4).write.parquet("data_parquet/flight_1M.parquet")

## 4.5 - Load the parquet to ensure that it has been generated

In [15]:
/* -----------------------------------------------------------
    load the parquet to ensure that it has been generated
-------------- -----------------------------------------------*/
val JT_parquet  = spark.read.parquet("data_parquet/flight_1M.parquet")
JT_parquet.printSchema()
JT_parquet.show(5)

root
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- originK: string (nullable = true)
 |-- destK: string (nullable = true)
 |-- Tad_unix: long (nullable = true)
 |-- Tad_unix_12: long (nullable = true)
 |-- Tsd_unix: long (nullable = true)
 |-- Tsd_unix_1: long (nullable = true)
 |-- Tsd_unix_2: long (nullable = true)
 |-- Tsd_unix_3: long (nullable = true)
 |-- Tsd_unix_4: long (nullable = true)
 |-- Tsd_unix_5: long (nullable = true)
 |-- Tsd_unix_6: long (nullable = true)
 |-- Tsd_unix_7: long (nullable = true)
 |-- Tsd_unix_8: long (nullable = true)
 |-- Tsd_unix_9: long (nullable = true)
 |-- Tsd_unix_10: long (nullable = true)
 |-- Tsd_unix_11: long (nullable = true)
 |-- Tsd_unix_12: long (nullable = true)
 |-- Taa_unix: long (nullable = true)
 |-- Taa_unix_12: long (nullable = true)
 |-- Tsa_unix: long (nullable = true)
 |-- Tsa_unix_1: long (nullable = true)
 |-- Tsa_unix_2: long (nullable = true)
 |-- Tsa_unix_3: long (nullable = true)
 |-- Tsa_unix_4: long (nullable = true)
 |-- Tsa_unix_5: long (nullable = true)
 |-- Tsa_unix_6: long (nullable = true)
 |-- Tsa_unix_7: long (nullable = true)
 |-- Tsa_unix_8: long (nullable = true)
 |-- Tsa_unix_9: long (nullable = true)
 |-- Tsa_unix_10: long (nullable = true)
 |-- Tsa_unix_11: long (nullable = true)
 |-- Tsa_unix_12: long (nullable = true)
 |-- Th: boolean (nullable = true)
 |-- originK1: string (nullable = true)
 |-- slot1_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK2: string (nullable = true)
 |-- slot2_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK3: string (nullable = true)
 |-- slot3_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK4: string (nullable = true)
 |-- slot4_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK5: string (nullable = true)
 |-- slot5_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK6: string (nullable = true)
 |-- slot6_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK7: string (nullable = true)
 |-- slot7_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK8: string (nullable = true)
 |-- slot8_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK9: string (nullable = true)
 |-- slot9_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK10: string (nullable = true)
 |-- slot10_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK11: string (nullable = true)
 |-- slot11_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- originK12: string (nullable = true)
 |-- slot12_D: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot1_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot2_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot3_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot4_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot5_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot6_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot7_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot8_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot9_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot10_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot11_A: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- slot12_A: array (nullable = true)
 |    |-- element: string (containsNull = true)

+------+----+-------------+-------------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|ORIGIN|DEST|      originK|        destK|  Tad_unix|Tad_unix_12|  Tsd_unix|Tsd_unix_1|Tsd_unix_2|Tsd_unix_3|Tsd_unix_4|Tsd_unix_5|Tsd_unix_6|Tsd_unix_7|Tsd_unix_8|Tsd_unix_9|Tsd_unix_10|Tsd_unix_11|Tsd_unix_12|  Taa_unix|Taa_unix_12|  Tsa_unix|Tsa_unix_1|Tsa_unix_2|Tsa_unix_3|Tsa_unix_4|Tsa_unix_5|Tsa_unix_6|Tsa_unix_7|Tsa_unix_8|Tsa_unix_9|Tsa_unix_10|Tsa_unix_11|Tsa_unix_12|   Th|     originK1|             slot1_D|     originK2|             slot2_D|     originK3|             slot3_D|     originK4|             slot4_D|     originK5|             slot5_D|     originK6|             slot6_D|     originK7|             slot7_D|     originK8|             slot8_D|     originK9|             slot9_D|    originK10|            slot10_D|    originK11|            slot11_D|    originK12|            slot12_D|             slot1_A|             slot2_A|             slot3_A|             slot4_A|             slot5_A|             slot6_A|             slot7_A|             slot8_A|             slot9_A|            slot10_A|            slot11_A|            slot12_A|
+------+----+-------------+-------------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   OAK| BUR|OAK1327693200|BUR1327697100|1327693200| 1327650000|1327693200|1327689600|1327686000|1327682400|1327678800|1327675200|1327671600|1327668000|1327664400|1327660800| 1327657200| 1327653600| 1327650000|1327696680| 1327653480|1327697100|1327693500|1327689900|1327686300|1327682700|1327679100|1327675500|1327671900|1327668300|1327664700| 1327661100| 1327657500| 1327653900|false|OAK1327693200|[1327690380, 59.0...|OAK1327693200|[1327686780, 43.0...|OAK1327693200|[1327683180, 48.0...|OAK1327693200|[1327679580, 39.0...|OAK1327693200|[1327675980, 35.0...|OAK1327693200|[1327672380, 46.0...|OAK1327693200|[1327668780, 57.0...|OAK1327693200|[1327665180, 83.0...|OAK1327693200|[1327660860, 100....|OAK1327693200|[1327657980, 100....|OAK1327693200|[1327654380, 100....|OAK1327693200|[1327650660, 100....|[1327693980, 15.0...|[1327690380, 17.0...|[1327686780, 18.0...|[1327683180, 16.0...|[1327679580, 16.0...|[1327675980, 16.0...|[1327672380, 15.0...|[1327668780, 18.0...|[1327665180, 34.0...|[1327661580, 50.0...|[1327657980, 54.0...|[1327654380, 62.0...|
|   ORD| CMH|ORD1326412320|CMH1326328500|1326412320| 1326369120|1326407400|1326403800|1326400200|1326396600|1326393000|1326389400|1326385800|1326382200|1326378600|1326375000| 1326371400| 1326367800| 1326364200|1326336480| 1326293280|1326328500|1326324900|1326321300|1326317700|1326314100|1326310500|1326306900|1326303300|1326299700|1326296100| 1326292500| 1326288900| 1326285300| true|ORD1326412320|[1326405060, 84.0...|ORD1326412320|[1326401340, 88.0...|ORD1326412320|[1326396660, 85.0...|ORD1326412320|[1326394140, 78.0...|ORD1326412320|[1326390660, 81.0...|ORD1326412320|[1326386100, 85.0...|ORD1326412320|[1326383460, 88.0...|ORD1326412320|[1326379860, 88.0...|ORD1326412320|[1326376260, 85.0...|ORD1326412320|[1326372660, 89.0...|ORD1326412320|[1326369060, 89.0...|ORD1326412320|[1326365460, 89.0...|[1326325860, 93.0...|[1326322260, 93.0...|[1326318660, 96.0...|[1326315060, 96.0...|[1326310980, 100....|[1326307860, 96.0...|[1326304260, 93.0...|[1326300660, 93.0...|[1326297060, 96.0...|[1326293460, 93.0...|[1326289860, 96.0...|[1326286260, 93.0...|
|   ORD| CMH|ORD1327257000|CMH1327263300|1327257000| 1327213800|1327255200|1327251600|1327248000|1327244400|1327240800|1327237200|1327233600|1327230000|1327226400|1327222800| 1327219200| 1327215600| 1327212000|1327266360| 1327223160|1327263300|1327259700|1327256100|1327252500|1327248900|1327245300|1327241700|1327238100|1327234500|1327230900| 1327227300| 1327223700| 1327220100| true|ORD1327257000|[1327252320, 100....|ORD1327257000|[1327250820, 92.0...|ORD1327257000|[1327246020, 85.0...|ORD1327257000|[1327243860, 92.0...|ORD1327257000|[1327240140, 92.0...|ORD1327257000|[1327236660, 89.0...|ORD1327257000|[1327233060, 92.0...|ORD1327257000|[1327229460, 92.0...|ORD1327257000|[1327225860, 88.0...|ORD1327257000|[1327221780, 92.0...|ORD1327257000|[1327216860, 92.0...|ORD1327257000|[1327215060, 88.0...|[1327261860, 96.0...|[1327256880, 96.0...|[1327254660, 100....|[1327249380, 92.0...|[1327247040, 92.0...|[1327243860, 92.0...|[1327240260, 96.0...|[1327234800, 85.0...|[1327231320, 92.0...|[1327229460, 96.0...|[1327225860, 96.0...|[1327222260, 96.0...|
|   TUL| DAL|TUL1326261420|DAL1326265500|1326261420| 1326218220|1326261600|1326258000|1326254400|1326250800|1326247200|1326243600|1326240000|1326236400|1326232800|1326229200| 1326225600| 1326222000| 1326218400|1326265380| 1326222180|1326265500|1326261900|1326258300|1326254700|1326251100|1326247500|1326243900|1326240300|1326236700|1326233100| 1326229500| 1326225900| 1326222300|false|TUL1326261420|[1326261180, 92.0...|TUL1326261420|[1326257580, 96.0...|TUL1326261420|[1326253980, 89.0...|TUL1326261420|[1326250380, 92.0...|TUL1326261420|[1326246780, 89.0...|TUL1326261420|[1326243180, 79.0...|TUL1326261420|[1326239580, 79.0...|TUL1326261420|[1326235980, 71.0...|TUL1326261420|[1326232380, 52.0...|TUL1326261420|[1326228780, 56.0...|TUL1326261420|[1326225180, 58.0...|TUL1326261420|[1326221580, 46.0...|[1326264780, 86.0...|[1326261180, 86.0...|[1326257580, 89.0...|[1326253980, 89.0...|[1326250380, 93.0...|[1326246780, 86.0...|[1326243180, 86.0...|[1326239580, 83.0...|[1326235980, 77.0...|[1326232380, 83.0...|[1326228780, 86.0...|[1326225180, 83.0...|
|   GEG| DEN|GEG1326815520|DEN1326825900|1326815520| 1326772320|1326814500|1326810900|1326807300|1326803700|1326800100|1326796500|1326792900|1326789300|1326785700|1326782100| 1326778500| 1326774900| 1326771300|1326827280| 1326784080|1326825900|1326822300|1326818700|1326815100|1326811500|1326807900|1326804300|1326800700|1326797100|1326793500| 1326789900| 1326786300| 1326782700| true|GEG1326815520|[1326811860, 70.0...|GEG1326815520|[1326808380, 70.0...|GEG1326815520|[1326804780, 67.0...|GEG1326815520|[1326801180, 61.0...|GEG1326815520|[1326797460, 56.0...|GEG1326815520|[1326793980, 59.0...|GEG1326815520|[1326790380, 58.0...|GEG1326815520|[1326786780, 58.0...|GEG1326815520|[1326783180, 58.0...|GEG1326815520|[1326779580, 58.0...|GEG1326815520|[1326775980, 58.0...|GEG1326815520|[1326772380, 61.0...|[1326822780, 68.0...|[1326819180, 57.0...|[1326815580, 43.0...|[1326811980, 37.0...|[1326808380, 43.0...|[1326804780, 55.0...|[1326801180, 50.0...|[1326797580, 45.0...|[1326793980, 59.0...|[1326790380, 67.0...|[1326786780, 69.0...|[1326783180, 69.0...|
+------+----+-------------+-------------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+----------+-----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

JT_parquet: org.apache.spark.sql.DataFrame = [ORIGIN: string, DEST: string ... 69 more fields]